[submodule "tools/archfi"]
	path = tools/archfi
	url = https://github.com/MatMoul/archfi.git
[submodule "packages/proton-ge-custom-updater"]
	path = packages/proton-ge-custom-updater
	url = https://github.com/p-mng/proton-ge-custom-updater.git
[submodule "packages/yay"]
	path = packages/yay
	url = https://aur.archlinux.org/yay.git
[submodule "tools/linux-utils"]
	path = tools/linux-utils
	url = https://github.com/mrkenhoo/linux-utils
